 .three1{
	width: 100%;
	height: 900px;
	background: url(../three-img/t3-bj1.jpg)  center;
	background-size: cover;
}
.three1 img{
	width: 50px;
	height: 50px;
	margin: 20px 20px;
}
.three1 p{
	float: right;
	color: #FFFFFF;
	margin: 40px 200px;
	font-size: 16px;
	
}
.three2 {
	background: url(../three-img/t3-bj2.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three3{
	width: 100%;
	height: 3850px;
	/* border: 1px solid red; */
	background-color: rgb(246,171,46);
}
.three3 .three3-1{
	width: 1200px;
	/* height: 3850px; */
	/* border: 1px solid red; */
	margin: 0px auto;

}
.three3-2 .three3-21{
	width: 568px;
	height: 460px;
	float: left;
	margin: 10px 16px;
	background-color: #FFFFFF;
	text-align: center;
	overflow: hidden;
	transition: all 0.6s;
}
.three3-2 .three3-21:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}
.three3-2 .three3-21 img{
	width: 100%;
	transition: all 0.6s;	
}

.three3-2 .three3-22{
	width: 60%;
	text-align: left;
	float: left;
}
.three3-2 .three3-22 h3{
	font-size: 20px;
	font-weight: normal;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.three3-2 .three3-22 p{
	font-size: 13px;
	font-weight: normal;
	margin-left: 40px;
}
.three3-23{
	width:40% ;
	height: 100px;
	float: left;
	padding-top: 20px;
	text-align: right;
}
.three3-23 p{
	margin-right: 40px;
	color: rgb(234,98,91);
	font-size: 20px;
	margin-bottom: 20px;
}
.three3-23 del{
	color: rgb(102,102,127);
	font-size: 15px;
}
.three3-23 a{
	margin-right: 40px;
	background-color:rgb(234,98,91);
	color: #FFFFFF;
	font-size: 18px;
	width: 100px;
	height: 50px;
	padding:10px 50px;
}
.three4 {
	background: url(../three-img/t3-bj3.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three5{
	width: 100%;
	height: 1880px;
	background-color: rgb(237,98,43);
}
.three5 .three3-1{
	width: 1200px;
	/* height: 1350px; */
	margin: 0px auto;

}
.three51{
	width: 1168px;
	height: 415px;
	margin-left: 16px;
	
	/* background-color: #0077AA; */
}
.three51-1{
	background-color: #FF0000;
	width: 70%;
	height: 100%;
	overflow: hidden;
	float: left;
}
.three51-1 img{
	width: 100%;
	transition:all 0.3s;
}


.three51-1 img:hover,
.three3-2 .three3-21 img:hover{
	transform: scale(1.09);
}
.three51-2{
	float: left;
	width: 30%;
	height: 100%;
	background-color:#FFFFFF;
	text-align: left;
}
.three51-2 h3{
	margin-top: 130px;
	font-size: 20px;
	font-weight: normal;
	margin-left: 30px;
}
.three51-2 p{
	margin-top: 10px;
	font-size: 12px;
	color: rgb(102,102,102);
		margin-bottom: 30px;
		margin-left: 30px;
}
.three51-2 span{
	font-size: 20px;
	color: rgb(234,98,91);

}
.three51-2 del{
	font-size: 14px;
	margin-left: 10px;
}
.three51-2 a{
	margin-left: 30px;
	font-size:20px ;
	color: #FFFFFF;
	background-color:rgb(234,98,91) ;
	padding: 10px 40px;
}
.three6 {
	background: url(../three-img/t3-bg4.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three7{
	width: 100%;
	height: 2340px;
	background-color: rgb(246,171,46);
}
.three7 .three3-1{
	width: 1200px;
	/* height: 1350px; */
	margin: 0px auto;

}
.three8 {
	background: url(../three-img/t3-bj4.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three9{
	width: 100%;
	height: 1450px;
	background-color: rgb(237,98,43);
}
.three9 .three3-1{
	width: 1200px;
	height: 1350px;
	margin: 0px auto;

}
.three10 {
	background: url(../three-img/t3-bj5.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three11{
	width: 100%;
	height: 1450px;
	background-color: rgb(246,171,46);
}
.three11 .three3-1{
	width: 1200px;
	height: 1350px;
	margin: 0px auto;

}
.three12 {
	background: url(../three-img/t3-bj6.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three13{
	background: url(../three-img/t3-bj7.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three14{
	background: url(../three-img/t3-bj8.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three15{
	background: url(../three-img/t3-bj9.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three16{
	background: url(../three-img/t3-bj10.jpg) center;
	background-size: cover;
	width: 100%;
	height: 120px;
}
.three17{
	width: 100%;
	height: 910px;
	background-color: rgb(246,171,46);
}
.three17 .three3-1{
	width: 1200px;
	/* height: 1350px; */
	margin: 0px auto;

}
.three18 {
	width: 100%;
	height: 200px;
	background: url(../three-img/2weim.jpg) center;
	background-size: cover;
}
.top_three3{
	top: 550px;
	right: 50px;
	position: fixed;
	width: 30px;
	text-align: center;
	/* border: 1px solid red; */
	background-color:#FF6700 ;
}
.top_three3 p{
	color: #FFFFFF;
	font-size: 30px;
}
.top_three3:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.3);
	transform: matrix3d(0,-2,0);
	
}