<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>shopBook</display-name>
  <welcome-file-list>
    <welcome-file>indexBooks.jsp</welcome-file>
  </welcome-file-list>
  	<filter>
		<display-name>CharacterEncodingFilter</display-name>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>core.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description></description>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<description></description>
			<param-name>charset</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>xxk.train.action.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/manager/UserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatViewServlet</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    <init-param>
      <param-name>resetEnable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>loginUsername</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>loginPassword</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatViewServlet</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksAction</display-name>
    <servlet-name>BooksAction</servlet-name>
    <servlet-class>xxk.train.action.BooksAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksAction</servlet-name>
    <url-pattern>/manager/BooksAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategorsAction</display-name>
    <servlet-name>CategorsAction</servlet-name>
    <servlet-class>xxk.train.action.CategorsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorsAction</servlet-name>
    <url-pattern>/manager/CategorsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderAction</display-name>
    <servlet-name>OrderAction</servlet-name>
    <servlet-class>xxk.train.action.OrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAction</servlet-name>
    <url-pattern>/manager/OrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishersAction</display-name>
    <servlet-name>PublishersAction</servlet-name>
    <servlet-class>xxk.train.action.PublishersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishersAction</servlet-name>
    <url-pattern>/manager/PublishersAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreinAction</display-name>
    <servlet-name>StoreinAction</servlet-name>
    <servlet-class>xxk.train.action.StoreinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreinAction</servlet-name>
    <url-pattern>/manager/StoreinAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreoutAction</display-name>
    <servlet-name>StoreoutAction</servlet-name>
    <servlet-class>xxk.train.action.StoreoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreoutAction</servlet-name>
    <url-pattern>/manager/StoreoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>xxk.train.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/manager/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>xxk.train.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/manager/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingUserAction</display-name>
    <servlet-name>ShoppingUserAction</servlet-name>
    <servlet-class>xxk.train.action.ShoppingUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingUserAction</servlet-name>
    <url-pattern>/ShoppingUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoShopAction</display-name>
    <servlet-name>GotoShopAction</servlet-name>
    <servlet-class>xxk.train.action.GotoShopAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoShopAction</servlet-name>
    <url-pattern>/GotoShopAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>xxk.train.entity.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAction</display-name>
    <servlet-name>CartAction</servlet-name>
    <servlet-class>xxk.train.action.CartAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAction</servlet-name>
    <url-pattern>/CartAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchAction</display-name>
    <servlet-name>searchAction</servlet-name>
    <servlet-class>xxk.train.action.SearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchAction</servlet-name>
    <url-pattern>/searchAction</url-pattern>
  </servlet-mapping>
  
</web-app>